<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/perfil.css">
    <script src="{{url_for('principal_dialog')}}"></script>
    <script src="public/js/principalViewFunction.js"></script>
    <title>Perfil Usuario</title>
</head>
<body>
    <header class="user-header">
        <figure class="volver">
            <a href="{{  url_for('principal')   }}"><img src="../static/assets/imgs/icon/arrow-narrow-left-dashed.svg"
                    alt="back_icon"> Volver</a>
        </figure>
        <article>
            <h2>Bienvenido a tu perfil</h2>
        </article>
    </header>
    <aside>

        
        <div class="contain-profile">

        <div class="profile-card">
            <figure class="profile-image">
                <img src="../static/assets/imgs/icon/user-animate-removebg-preview.png" alt="user_icon">
            </figure>
            <article class="profile-info">
                <h3>{{dato_usuario[1]}}</h3>
                <p>{{dato_usuario[2]}}</p>
            </article>
        </div>

        <div class="profile-actions">
            <a href="{{url_for('modify')}}" class="btn-change-password"><span class="updt-pass"><img src="../static/assets/imgs/icon/edit.svg" alt="update-password">Cambiar Contraseña</a>
        </div>

    </div>
</aside>

<main>
    <section class="user-details">
        <h2>Mis recetas</h2>
        <ul  class="recetas-box">
            {% for receta in dicc_recetas %}
                    <section class="recetas-box">
                        <figure>
                            <img src="" alt=""> <!-- Agrega la imagen de la receta aquí -->
                            <article>
                                <h6>{{receta["titulo"]}}</h6>
                            </article>
                                <input type="hidden" name="datos" value="{{receta}}">
                                <button type="submit" value="Editar" onclick="showDialog()" id="update">Editar</button>
                                <button>Eliminar</button>
                        </figure>
                    </section>
            {% endfor %}
        </ul>
    </section>

    <section class="formulario">
            <dialog class="dialog_add">
                <span class="header-dialog">
                    <button class="cerrar" onclick="hideDialog()">❌</button>
                    <h4>Agrega tu receta</h4>
                </span>
                <form autocomplete="off"  id="dialog" action="/api/crear_receta_nueva" method="POST" enctype="multipart/form-data">
                    <div class="inputs">
                        <!-- <label for="nombre">Nombre de la receta:</label> -->
                        <input type="text" id="nombre" name="nombre" id="nombre" placeholder="Nombre de la receta">

                        <textarea id="descripcion" name="descripcion" rows="4" placeholder="Descripcion"></textarea>

                        <!-- <label for="ingredientes">Ingredientes:</label> -->
                        <textarea id="ingredientes" name="ingredientes" rows="4" placeholder="Ingredientes"></textarea>

                        <!-- <label for="instrucciones">Instrucciones:</label> -->
                        <textarea id="instrucciones" name="instrucciones" rows="4" placeholder="Instrucciones"></textarea>
                    </div>
                    <!-- <label for="categoria">Categoría:</label>-->
                    <input type="file" id="imagen" name="imagen" accept="image/*">
                <span>

                    <select id="categoria" name="categoria">
                        <option value="" disabled selected>Selecciona una categoría</option>
                        <option value="desayuno">☕ Desayuno</option>
                        <option value="almuerzo">🥘 Almuerzos</option>
                        <option value="cena">🍝 Cenas</option>
                        <option value="postre">🍰 Postres</option>
                    </select>
                </span>
                {% with message = get_flashed_messages()%}
                    {% if message %}
                        {% for msg in message %}
                        <div>
                            <li>{{msg}}</li>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                    <button type="submit" class="save">Guardar</button>
                </form>
            </dialog>
    </section>
</main>
    
    
</body>
</html>