<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/perfil.css">
    <title>Perfil Usuario</title>
</head>
<body>
    <header class="user-header">
        <figure class="volver">
            <a href="{{  url_for('principal')   }}"><img src="../static/assets/imgs/icon/arrow-narrow-left-dashed.svg"
                    alt="back_icon"> Volver</a>
        </figure>
        <article>
            <h2>Bienvenido a tu perfil</h2>
        </article>
    </header>
    <aside>

        
        <div class="contain-profile">

        <div class="profile-card">
            <figure class="profile-image">
                <img src="../static/assets/imgs/icon/user-animate-removebg-preview.png" alt="user_icon">
            </figure>
            <article class="profile-info">
                <h3>nombre usuario</h3>
                <p>email usuario</p>
                <p>Rol: </p>
            </article>
        </div>

        <div class="profile-actions">
            <a href="{{url_for('modify')}}" class="btn-change-password"><span class="updt-pass"><img src="../static/assets/imgs/icon/edit.svg" alt="update-password">Cambiar Contraseña</a>
        </div>

    </div>
</aside>

<main>
    <section class="user-details">
        <h2>Mis recetas</h2>

        <div class="recipe-list">
            <img src="../static/assets/imgs/img_platos/cena.jpg" alt="">
                    <div class="recipe-item">
                        <h3>nombre receta</h3>
                        <p>descripcion</p>
                    </div>
        </div>
    </section>
</main>
    
    
</body>
</html>