<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/principal.css">
    <title></title>
</head>
<body>
    <section class="container-description">

        <section class="back-and-imgreceta">
            <header>
                <figure class="volver">
                    <a href="principal.html"><img src="../static/assets/imgs/icon/arrow-narrow-left-dashed.svg" alt="back_icon"> Volver</a>
                </figure>
                <article>
                    <h4>{{data["categoria"]}}</h4>
                </article>
            </header>
            <figure class="img-plato">
                 <!--imagen de la receta-->
            </figure>

        </section>

        <section class="description-receta">

            <header><h2>{{data["titulo"]}}</h2></header>
            <div class="descript">
                <article>
                    <h4>Descripcion</h4>
                </article>
                <article>
                        <p>{{data["descripcion"]}}</p>
                </article>
            </div>
            
            <div class="ingredients">
                <article>
                    <small><span><img src="../static/assets/imgs/icon/users.svg" alt=""> aqui van las porciones</span></small>
                    <h4>Ingredientes</h4>
                </article>
                <nav>
                    <ol>
                        {{data["ingredientes"]}}
                    </ol>

                </nav>
            </div>

            <div class="instructions">
                <article>
                    <h4>Instrucciones</h4>
                </article>
                <nav>
                    <ol >
                        {{data["pasos"]}}
                    </ol>
                </nav>

            </div>

        </section>


    </section>
</body>
</html>