<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/principal.css">
    <link rel=" icon" href="../static/assets/imgs/logo.jpg" type="image/x-icon">
    <title>Filtrar</title>
</head>

<body>
    <section class="container">
        <!-- header de la vista -->


        <!-- menu para filtrar -->
        <!-- hasta aca -->
        <span class="lineTwo"></span>
        <!-- segundo header -->
        <hr class="line-downh">
        <article class="resultado-busqueda">
            <h3>Catalogo</h3>
            <h6>Recetas que coinciden con tu busqueda: {{numero_recetas}}</h6>
            <p>Categoria:aqui va la categoria</p>
        </article>
        <!-- hasta aca -->

        <!-- recetas box -->
        <ul>
            {% for receta in dicc_recetas %}
                    <section class="recetas-box">
                        <figure>
                            <img src="" alt=""> <!-- Agrega la imagen de la receta aquí -->
                            <article>
                                <h6>{{receta["titulo"]}}</h6>
                            </article>
                            <form action="http://127.0.0.1:5000/api/mostrar_receta" method="post">
                                <input type="hidden" name="datos" value="{{receta}}">
                                <button>Ver receta</button>
                            </form>
                        </figure>
                    </section>
            {% endfor %}
        </ul>
<!--        <section class="recetas-box">-->
<!--            <figure>-->
<!--                <img src="" alt=""> &lt;!&ndash; Agrega la imagen de la receta aquí &ndash;&gt;-->
<!--                <article>-->
<!--                    <h6>Nombre receta</h6>-->
<!--                </article>-->
<!--                <a href="{{  url_for('recipe')   }}"><button>Ver receta</button></a>-->

<!--            </figure>-->
<!--        </section>-->


</body>

</html>