<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=" icon" href="../static/assets/imgs/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../static/assets/css/principal.css">

    <title>Delicias de cocina</title>
</head>

<body>

    <section class="container">
        <!-- header de la vista -->
        <header>
            <figure><img src="../static/assets/imgs/logo.jpg" alt="logo_delicias"></figure>
            <span class="span-search">
                <form action="/api/obtener_receta" autocomplete="off" method="POST">
                    <button><img src="../static/assets/imgs/icon/search.png" alt="search"></button>
                    <input type="search" name="search" class="search" placeholder="Buscar receta | autor">
                </form>
            </span>

            <div class="span-perfil">
                    <details class="menu">
                        <summary>Mi cuenta</summary>
                        <a href="{{url_for('perfil')}}"><span><img src="../static/assets/imgs/icon/user-square.svg" alt=""> Ir a mi perfil</span></a>
                        <a href="{{url_for('index')}}"><span><img src="../static/assets/imgs/icon/logout.svg" alt=""> Cerrar sesion</span></a>
                    </details>
            </div>

        </header>
        <!-- hasta aca -->
        <hr>
        <span class="lineOne"></span>
        <!-- menu para filtrar -->
        <section class="menu-filtrado">
            <nav>
                <ul>
                    <li><a href="{{  url_for('principal')}}" class="inicio">🏠Inicio</a></li>
                    <li><button class="escoger">☕Desayunos</button></li>
                    <li><button class="escoger">🥘Almuerzos</button></li>
                    <li><button class="escoger">🍝Cenas</button></li>
                    <li><button class="escoger">🍰Postres</button></li>
                </ul>
            </nav>
        </section>
        <!-- hasta aca -->
        <span class="lineTwo"></span>
        <!-- segundo header -->
        <hr class="line-downh">
        <div class="header-two">
            <h4>¡Bienvenido a Delicias de Cocina!</h4>
            <p>Descubre recetas increibles, conecta con otros amantes de la cocina y lleva tu habilidades culinaria al
                siguiente nivel.</p>
        </div>
        <!-- hasta aca -->

        <ul  class="recetas-box">
            {% for receta in dicc_recetas %}
                    <section class="recetas-box">
                        <figure>
                            <img src="" alt=""> <!-- Agrega la imagen de la receta aquí -->
                            <article>
                                <h6>{{receta["titulo"]}}</h6>
                            </article>
                            <form action="http://127.0.0.1:5000/api/mostrar_receta" method="post">
                                <input type="hidden" name="datos" value="{{receta}}">
                                <button>Ver receta</button>
                            </form>
                        </figure>
                    </section>
            {% endfor %}
        </ul>


            
            <!-- Agrega más recetas según sea necesario -->

        </section>

        <section class="formulario">
            <dialog class="dialog_add">
                <span class="header-dialog">
                    <button class="cerrar" onclick="hideDialog()">❌</button>
                    <h4>Agrega tu receta</h4>
                </span>
                <form autocomplete="off"  id="dialog" action="/api/crear_receta_nueva" method="POST">
                    <input type="hidden" name="name_user" value="Diego">
                    <input type="hidden" name="gmail_user" value="{{datos_usuario[2]}}">
                    <div class="inputs">
                        <!-- <label for="nombre">Nombre de la receta:</label> -->
                        <input type="text" id="nombre" name="nombre" id="nombre" placeholder="Nombre de la receta">

                        <textarea id="descripcion" name="descripcion" rows="4" placeholder="Descripcion"></textarea>

                        <!-- <label for="ingredientes">Ingredientes:</label> -->
                        <textarea id="ingredientes" name="ingredientes" rows="4" placeholder="Ingredientes"></textarea>

                        <!-- <label for="instrucciones">Instrucciones:</label> -->
                        <textarea id="instrucciones" name="instrucciones" rows="4" placeholder="Instrucciones"></textarea>
                    </div>
                    <!-- <label for="categoria">Categoría:</label>-->
                    <input type="file" id="imagen" name="imagen" accept="image/*" >
                <span>

                    <select id="categoria" name="categoria">
                        <option value="" disabled selected>Selecciona una categoría</option>
                        <option value="desayuno">☕ Desayuno</option>
                        <option value="almuerzo">🥘 Almuerzos</option>
                        <option value="cena">🍝 Cenas</option>
                        <option value="postre">🍰 Postres</option>
                    </select>

                    <input type="text" name="porcion" id="porcion" placeholder="Porciones">
                </span>
                {% with message = get_flashed_messages()%}
                    {% if message %}
                        {% for msg in message %}
                        <div>
                            <li>{{msg}}</li>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                    <button type="submit" class="save">Guardar</button>
                </form>
            </dialog>
        </section>
        <input type="submit" value="➕ Agregar receta" onclick="showDialog()" class="agregar">
    </section>


    <script src="{{url_for('principal_dialog')}}"></script>
    <script src="public/js/principalViewFunction.js"></script>
<!--<script src="{{    url_for('validate_inputs')    }}"></script>-->
</body>
</html>