<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
    <link rel=" icon" href="{{ url_for('static', filename='assets/imgs/logo.jpg') }}" type="image/x-icon">
    <title>Recupera tu contraseña</title>
</head>

<body>
    <section class="container">

        <div class="semicirculo">
            <img src="{{ url_for('static', filename='assets/imgs/logo.jpg') }}" alt="logo_delicias_de_cocina">
            <h1>Delicias de cocina</h1>


        </div>
        <div class="login">


            <div class="recovery-box">
                <header>
                    <h2>Recupera tu contraseña</h2>
                </header>

                <form action="/api/crear_usuario_nuevo" method="post" autocomplete="off">
                    {% if error %}
                    <div style="background-color: #ffe5e5; color: #d8000c; border: 1px solid #d8000c; padding: 5px; margin-top: -27px; margin-bottom: -27px;; border-radius: 5px; text-align: center;">
                        {{ error }}
                    </div>
                    {% endif %}

                    <section class="send-code">
                        <div class="input_form">
                            <input type="text" name="username" class="entry" placeholder="Ingresa el codigo enviado" title="Ingrese su correo, debe contener un @ obligatoriamente." minlength="5" maxlength="30" required>
                            <div class="labelline"></div>
                        </div>
                        <button>Enviar codigo</button>
                    </section>

                    <div class="input_form">
                        <input type="password" class="entry_pass" name="password"
                            placeholder="Nueva contraseña | Max 15 caracteres" title="Ingrese minimo 8 caracteres y maximo 15" minlength="8" maxlength="15" required>
                        <div class="labelline_pass"><span><img src="{{ url_for('static', filename='assets/imgs/icon/icons8-lock-48.png') }}" alt="icon"
                                    class="icon_user"></span>
                        </div>
                    </div>

                    <div class="input_form">
                        <input type="password" class="entry_pass" name="password"
                            placeholder="Repite nueva contraseña | Max 15 caracteres" title="Ingrese minimo 8 caracteres y maximo 15"  minlength="8" maxlength="15"  required>
                        <div class="labelline_pass"><span><img src="{{ url_for('static', filename='assets/imgs/icon/icons8-lock-48.png') }}" alt="icon"
                                    class="icon_user"></span>
                        </div>
                    </div>
                    <button>Enviar</button>
                </form>
                <a href="{{ url_for('index') }}" class="link_login">Cancelar</a>


            </div>
        </div>
    </section>

</body>

</html>