<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/perfil.css">
    <title>Recupera tu contraseña</title>
</head>
<body>
    <h1>¿Has olvidado tu contraseña?</h1>

    <section class="recuperar-contain">
        <article>
            <p>Para recuperar tu contraseña, ingresa tu correo en la caja de texto de abajo👇</p>
        </article>
    </section>
    
</body>
</html>