<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/index.css">
    <link rel="shortcut icon" href="assets/imgs/logo.jpg" type="image/x-icon">
    <title>Bienvenido a Delicias de Cocina</title>
</head>

<body>
    <!-- header -->
    <header>
        <figure class="img_logo">
            <img src="assets/imgs/logo.jpg" alt="logo">
            <h2>Delicias de Cocina</h2>
        </figure>
        <nav class="box_contactandsingup">
            <a href="index.html" id="home">Inicio</a>
            <a href="#" id="contact">Contacto</a>
            <div class="sign-in"><a href="login.html" target="_blank">Inicia sesión</a>
                <a href="#">Registrate</a>
            </div>
        </nav>
    </header>
    <!-- contenido -->
    <section class="content">
        <article>
            <p>Espacio para descubrir, compartir y disfrutar el arte de cocinar.</p>
            <p>Explora recetas para todos los gustos, guarda tus favoritas y sube las tuyas.</p>
            <br>
            <h3>¡Inspirate, cocina y comparte!.</h3>
        </article>
    </section>
    <!-- footer -->
    <footer class="low_content">
        <button><a href="#">Ir a ➜</a></button>
        <div class="menu">
            <figure class="item-1">
                <img src="assets/imgs/desayuno.jpg" alt="desayunos">
                <h4>Desayunos</h4>
            </figure>

            <figure class="item-2">
                <img src="assets/imgs/almuerzo.jpg" alt="almuerzos">
                <h4>Almuerzos</h4>
            </figure>

            <figure class="item-3">
                <img src="assets/imgs/cena.jpg" alt="cenas" id="cenas">
                <h4>Cenas</h4>

            </figure>

        </div>

    </footer>
</body>

</html>