<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
</head>
<body>
    <section class="container">

        <div>
            
        </div>
        <div>
            <input type="text" name="username" id="user" placeholder="Usuario" required>
            <input type="password" name="contra" id="password" placeholder="Contraseña" required>
        </div>

    </section>
    
</body>
</html>