<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/principal.css">
    <link rel=" icon" href="assets/imgs/logo.jpg" type="image/x-icon">
    <title>Delicias de cocina</title>
</head>
<body>
    <section class="container">
<!-- header de la vista -->
        <header>
            <figure><img src="assets/imgs/logo.jpg" alt="logo_delicias"></figure>
            <span class="span-search">
                <form action="" method="post">
                    <button><img src="assets/imgs/icon/search.png" alt="search"></button>
                    <input type="search" name="search" class="search" placeholder="Buscar receta | autor">
                </form>
            </span>

            <div class="span-perfil">
                <button><img src="assets/imgs/icon/user.png" alt="user_icon"></button>
            </div>
                
        </header>
    <!-- hasta aca -->
<hr>
        <span class="lineOne"></span>
    <!-- menu para filtrar -->
        <section class="menu-filtrado">
                <nav>
                    <ul>
                        <li><button class="escoger">☕Desayunos</button></li>
                        <li><button class="escoger">🥘Almuerzos</button></li>
                        <li><button class="escoger">🍝Cenas</button></li>
                        <li><button class="escoger">🍰Postres</button></li>
                        <li><button class="escoger">🥔Ingredientes</button></li>
                    </ul>         
                </nav>
        </section>
    <!-- hasta aca -->
    <span class="lineTwo"></span>
    <!-- segundo header -->
    <hr class="line-downh">
        <div class="header-two">
            <h4>¡Bienvenido a Delicias de Cocina!</h4>
            <p>Descubre recetas increibles, conecta con otros amantes de la cocina y lleva tu habilidades culinaria al siguiente nivel.</p>
        </div>
        <!-- hasta aca -->

    <!-- recetas box -->
        <section class="recetas-box">
                <figure class="item-1">
                    <img src="assets/imgs/img_platos/recetas/tequenos-de-queso-receta-venezolana.webp" alt="tequenos-de-queso-receta-venezolana">
                    <article>
                        <h6>Tequeños</h6>
                    </article>
                    <button>Ver receta</button>
                </figure>
    
                <figure class="item-2">
                    <img src="assets/imgs/img_platos/recetas/empanadas-de-carne-argentinas-tradicionales.webp" alt="empanadas-de-carne-argentinas-tradicionales">
                    <article>
                        <h6>Empanadas de carne argentina</h6>
                    </article>
                    <button>Ver receta</button>
                </figure>
    
                <figure class="item-3">
                    <img src="assets/imgs/img_platos/recetas/arepa-reina-pepiada-venezolana-receta.webp" alt="arepa_reina_pepiada">
                    <article>
                        <h6>Arepa reina pepiada</h6>
                    </article>
                    <button>Ver receta</button>
                </figure>
    
                <figure class="item-4">
                    <img src="assets/imgs/img_platos/recetas/bandeja-paisa-receta.webp" alt="bandeja-paisa-receta">
                    <article>
                        <h6>Bandeja paisa</h6>
                    </article>
                    <button>Ver receta</button>
                </figure>
    
                <figure class="item-5">
                    <img src="assets/imgs/img_platos/recetas/pollo-broaster-receta.webp" alt="pollo-broaster-receta">
                    <article>
                        <h6>Pollo a la broaster</h6>
                    </article>
                    <button>Ver receta</button>
                </figure>
    
                <figure class="item-6">
                    <img src="assets/imgs/img_platos/recetas/bolas-de-fraile-o-bombas-fritas-argentinas.webp" alt="bolas-de-fraile-o-bombas-fritas-argentinas">
                    <article>
                        <h6>Bombas fritas</h6>
                    </article>
                    <button>Ver receta</button>
                </figure>
    
                <figure class="item-7">
                    <img src="assets/imgs/img_platos/recetas/chorrillana-receta-chilena.webp" alt="chorrillana-receta-chilena">
                    <article>
                        <h6>Chorillana chilena</h6>
                    </article>
                    <button>Ver receta</button>
                </figure>
    
                <figure class="item-8">
                    <img src="assets/imgs/img_platos/recetas/tarta-tres-leches-casera-receta.webp" alt="tarta-tres-leches-casera-receta">
                    <article>
                        <h6>Tarta tres leches</h6>
                    </article>
                    <button>Ver receta</button>
                </figure>
    
            <!-- Agrega más recetas según sea necesario -->
        </section> 

        <form action="/" method="dialog">
            <dialog  class="dialog_add">
                <span>
                    <h3>Agregar receta</h3>
                    <button class="cerrar">❌</button>
                </span>
                <label for="nombre">Nombre de la receta:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="ingredientes">Ingredientes:</label>
                <textarea id="ingredientes" name="ingredientes" rows="4" required></textarea>

                <label for="instrucciones">Instrucciones:</label>
                <textarea id="instrucciones" name="instrucciones" rows="4" required></textarea>

                <label for="categoria">Categoría:</label>
                <select id="categoria" name="categoria">
                    <option value="desayuno">Desayuno</option>
                    <option value="almuerzo">Almuerzo</option>
                    <option value="cena">Cena</option>
                    <option value="postre">Postre</option>
                </select>

                <button type="submit">Guardar</button>
            </dialog>
            <input type="submit" value="➕ Agregar receta" class="agregar">
        </form>
    </section>

    <script>
        // menu de filtrado
            const botones = document.querySelectorAll('.escoger');

            botones.forEach(boton => {boton.addEventListener('click', () => {
                botones.forEach(b => b.classList.remove('activa'));
                boton.classList.add('activa');
            });
            });
            // hasta aca

            // dialog-open
            const dialog = document.querySelector('.dialog_add');

            const closeButton = dialog.querySelector('cerrar');
            const openDialogButton = document.querySelector('.agregar');
            openDialogButton.addEventListener('click', (event) => {
                event.preventDefault(); // Evita que el formulario se envíe
                dialog.showModal(); // Muestra el diálogo
            });
            closeButton.addEventListener('click', (event) => {
                event.preventDefault(); // Evita que el formulario se envíe
                dialog.close(); // Cierra el diálogo
            });

    </script>
    
</body>
</html>