<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/principal.css">
    <title></title>
</head>
<body>
    <section class="container-description">

        <section class="back-and-imgreceta">
            <header>
                <figure class="volver">
                    <a href="principal-recetas-description/principal.html"><img src="assets/imgs/icon/arrow-left-bar.svg" alt="back_icon"> Volver</a>
                </figure>
                <article>
                    <h4>Desayunos</h4>
                </article>
            </header>
            <figure class="img-plato">
                <img src="assets/imgs/img_platos/recetas/tequenos-de-queso-receta-venezolana.webp" alt="tequenos">
            </figure>

        </section>

        <section class="description-receta">

            <header><h2>Tequeños</h2></header>
            <div class="ingredients">
                <article>
                    <h4>Ingredientes</h4>
                    <small>20 porciones</small>
                </article>
                <nav>
                    <ul>
                    <li>2 tazas de harina de trigo todo uso
                    <li> 1 cucharada de azúcar</li>
                    <li> ½ cucharadita de sal</li>
                    <li> 1 huevo</li>
                    <li>2 cucharadas de mantequilla (a temperatura ambiente)</li>
                    <li>¼ a ½ taza de agua (agregar poco a poco hasta lograr una masa suave)</li></li>
                    <li>250 g de queso blanco semi-duro (tipo llanero o paisa), cortado en tiras gruesas</li>
                    <li>Aceite vegetal abundante (maíz o girasol)</li>
                </ul>

                </nav>
            </div>

            <div class="instructions">
                <article>
                    <h4>Instrucciones</h4>
                </article>
                <nav>
                    <ul>
                        <li>Mezcla los ingredientes y amasa hasta obtener una masa suave.</li>                            
                        <li>Escúrrelos sobre papel absorbente.</li>
                        <li>Deja reposar 30 minutos.</li>
                        <li>Estira la masa y corta tiras.</li>
                        <li>Enrolla cada tira de masa sobre el queso.</li>
                        <li>Sella bien los bordes.</li>
                        <li>Fríe en aceite caliente hasta que estén dorados.</li>
                    </ul>
                </nav>

            </div>

        </section>


    </section>
</body>
</html>