<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/principal.css">
    <link rel=" icon" href="../static/assets/imgs/logo.jpg" type="image/x-icon">
    <title>empanadas argentinas</title>
</head>

<body>
    <section class="container-description">

        <section class="back-and-imgreceta">
            <header>
                <figure class="volver">
                    <a href="{{  url_for('principal')   }}"><img
                            src="../static/assets/imgs/icon/arrow-narrow-left-dashed.svg"
                            alt="back_icon"> Volver</a>
                </figure>
                <article>
                    <h4>Desayunos</h4>
                </article>
            </header>
            <figure class="img-plato">
                <img src="../static/assets/imgs/img_platos/recetas/empanadas-de-carne-argentinas-tradicionales.webp"
                    alt="empanada-argentina"> <!--imagen de la receta-->
            </figure>
        </section>

        <section class="description-receta">

            <header>
                <h2>Empanadas Argentinas</h2>
            </header>
            <div class="descript">
                <article>
                    <h4>Descripcion</h4>
                </article>
                <article>
                    <p>Las empanadas de carne argentinas son un verdadero ícono de la gastronomía del país argentino. Cada provincia tiene su versión, 
                        pero todas comparten ese sabor casero y reconfortante que las hace irresistibles.Son masas rellenas de un sabroso guiso de carne, típicamente de res, condimentado con especias y acompañado de ingredientes como cebolla, huevo duro, aceitunas y, en algunas regiones, pasas o papas. 
                        Se cocinan al horno o fritas, dependiendo del estilo regional.</p>
                </article>
            </div>

            <div class="ingredients">
                <article>
                    <small><span><img src="../static/assets/imgs/icon/users.svg" alt=""> 20 porciones</span></small>
                    <h4>Ingredientes</h4>
                </article>
                <nav>
                    <ul>
                        <li>3 tazas de harina de trigo todo uso</li>
                        <li>240 g de manteca (mantequilla) blanda</li>
                        <li> ¾ taza de agua</li>
                        <li> 2 cucharaditas de sal</li>
                        <li>500 g de carne de res picada (puede ser molida o cortada a cuchillo)</li>
                        <li>1 cebolla grande</li>
                        <li>2 huevos duros picados</li>
                        <li>12 aceitunas verdes picadas</li>
                        <li>1 cucharadita de comino</li>
                        <li>1 cucharadita de pimentón dulce</li>
                        <li>Sal y pimienta al gusto</li>

                    </ul>

                </nav>
            </div>

            <div class="instructions">
                <article>
                    <h4>Instrucciones</h4>
                </article>
                <nav>
                        <ul>
                            <li>Mezcla la harina con la sal.</li>
                            <li>Agrega la manteca y mezcla hasta obtener una textura arenosa.</li>
                            <li>Incorpora el agua poco a poco hasta formar una masa suave.</li>
                            <li>Amasa unos minutos, cubre y deja reposar 30 o 40 minutos en la nevera.</li>
                            <li>Sofríe la cebolla picada hasta que esté transparente.</li>
                            <li>Agrega la carne y cocina hasta que esté dorada.</li>
                            <li>Añade comino, pimentón, sal y pimienta, y cocina unos minutos más.</li>
                            <li>Retira del fuego y deja enfriar el relleno.</li>
                            <li>Incorpora el huevo duro picado, las aceitunas y opcionalmente pasas o papas.</li>
                            <li>Estira la masa y corta discos de unos 13 cm de diámetro.</li>
                            <li>Coloca una cucharada de relleno en el centro de cada disco.</li>
                            <li>Humedece los bordes, dóblalos y haz el repulgue para sellar.</li>
                            <li>Pincela con huevo batido y hornea a 180 °C por 25–30 minutos o fríe hasta dorar.</li>
                        </ul>

                </nav>

            </div>

        </section>


    </section>
</body>

</html>