*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* perfil */

body{
    background-color: #fce4db;
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "aside main main";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 2.5fr;
    font-family: "Inter", monospace;
    height: 100dvh;
}

.user-header{
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 2.5fr;
    background-color: #FF7D1B;
    justify-content: center;
    align-items: center;
    
}

.user-header article{
    height: 100%;
    text-align: center; 
    display: flex;
    align-items: center;
    text-indent: 5px;
    text-transform: uppercase;
    justify-content: center;
}

.contain-profile{
    display: grid;
    height: fit-content;
    padding: 10px;
    border: transparent;
    border-radius: 10px;
    background-color:white;
}

.profile-card{
    display: grid;
    height: fit-content;
    gap: 15px;
    margin-top: 20px;
}

.profile-info{
    display: flex;
    flex-direction:column ;
    align-items: start;
    justify-content: start;
    gap: 15px;
    padding: 10px;
    text-indent: 10px;
}
.profile-info p{
    font-size: 14px;
    color: black;
}

.profile-image img{
    width: 120px;
    height: 120px;
}
.profile-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding: 15px;
}

aside{
    background-color: #FF7D1B;
    padding: 20px;
    grid-area: aside;
}
main{
    padding: 20px;
    grid-area: main;
}

.volver{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.707);
    padding: 4px 10px ;
    gap: 5px;
    width: 130px;
    height: 30px;
    margin-left: 20px;
    
}


.volver a{
    text-decoration: none;
    font-size: 12px;
    margin-left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.915);
}

.volver:hover{
    background-color: #DDDDDD;
    cursor: pointer;
    transition: all ease .4s;
}

.volver a img{
    animation: arrow_move 800ms infinite;
}

.updt-pass{
    display: flex;
    gap: 10px;
    padding: 15px;
    font-size: 15px;
}

.profile-actions a{
    text-decoration: none;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    background-color: #DDDDDD;
    width: fit-content;
    color: #FF7D1B;
}

.user-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-details h2{
    letter-spacing: 2px;
    font-size: 30px;
}
.recipe-list{
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: #c1bcbc;
    border-radius: 15px;
    padding: 5px;
    height: fit-content;
}
.recipe-item{
    gap: 10px;
} 
.recipe-item h3{
    font-size: 20px;
    color: black;
    margin-left: 10px;
}
.recipe-item p{
    font-size: 14px;
    color: black;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.recipe-list img{
    width: 130px;
    height: 130px;
    border-radius: 12px 0 0 12px;
}

.recetas-box{
    display: grid;
    grid-template-columns: repeat(4,minmax(100px, 1fr));
    gap: 15px;
    padding: 15px;
}
.recetas-box figure{
    width: 190px;
    height:150px;
    margin-left: 30px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
}


.recetas-box figure img{
    width: 96%;
    margin: 2px 4px;
    height: 80px;
    border: solid 1px white;
    border-radius: 18px 18px 0 0;
    object-fit: cover;
}
.recetas-box  figure article{
    min-height: fit-content;
    transform: translateY(-12px);
}

.recetas-box figure h6{
    text-align: justify;
    transform: translateY(5px);
    text-indent: 6px;
    font-size: 10px;
    margin-top: 5px;
    color: #000000da;
}

.recetas-box figure button{
    width: 85%;
    height: 20px;
    padding: 2px 0;
    font-weight: bold;
    border-radius: 35px;
    border: #FF7D1B;
    background-color: #FF7D1B;
    transform: translate(15px, -12px);
    color: white;
}
.recetas-box figure:hover{
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.782);
    transform: translateY(2px);
    scale: 1.05;
    transition: all ease-in-out .3s;
    z-index: 1;
}

.recetas-box figure button:hover{
    background-color: rgba(0, 0, 0, 0.745);
    color: #FF7D1B;
    text-shadow: 0 0 10px #FF7D1B;
    transition: all ease-in-out .3s;
    transform: translate(15px, -12px);
    cursor: pointer;
}


.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}
.dialog{
    gap: 15px 0;
}

.dialog_add{
    flex-direction: column;
    width: 35%;
    height: 95%;
    padding: 20px;
    z-index: 10;
    border-radius: 20px 0 20px 0;
    border: solid  white;
    row-gap: 8px 0;
    overflow:visible;
    transition: all ease-in-out .3s;
}
.dialog_add::backdrop{
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.662);
}
/* inputs y textareas */
.dialog_add input[type="text"]{
    height: 50px;
    width: 96%;
    border-radius: 7px;
    border: solid 1px #DDDDDD;
    background-color: #DDDDDD;
    padding: 3px;
    text-indent: 10px;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    row-gap: 15px;
    margin-top: 10px;
}

.dialog_add input[type="text"]:focus{
    outline: none;
    border: solid 1px #FF7D1B;
}

.dialog_add textarea{
    height: 45px;
    width: 95%;
    border-radius: 7px;
    border: solid 1px #DDDDDD;
    background-color: #DDDDDD;
    resize: none;
    text-indent: 10px;
    padding: 5px;
}
.dialog_add textarea:focus{
    outline: none;
    border: solid 1px #FF7D1B;
}
.dialog_add input[type="text"]::placeholder,.dialog_add textarea::placeholder{
    color: #000000b3;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-indent: 10px;
}

#porcion{
    height: 20px;
    width:100px;
    border-radius: 7px;
    border: solid 1px #DDDDDD;
    background-color: #DDDDDD;
    padding: 3px;
    text-indent: 10px;


}
.dialog_add input[type="text"]:focus::placeholder,.dialog_add textarea:focus::placeholder{
    color: transparent;
}

input[type="file"]{
    width: 95.1%;
    height: 20px;
    border-radius: 7px;
    border: solid 1px #DDDDDD;
    background-color: #DDDDDD;
    padding: 6px;
    font-size: 12px;
    text-indent: 10px;
    margin:10px  2px 10px 2px;
    overflow: hidden;
}

select{
    width: 60%;
    border-radius: 5px;
    background-color:#DDDDDD;
    padding: 6px;
    font-weight: bold;
    border: solid 1px #DDDDDD;
    color: #FF7D1B;
    margin:0  10px 0px 10px;
}

.dialog_add select option{
    background-color: #dddddd65;
    color: #FF7D1B;
    font-weight: bold;
}
select:focus{
    outline: none;
    border: solid 1px #FF7D1B;
}

.dialog_add .save{
    width: 95%;
    height: 35px;
    border-radius: 7px;
    border: solid 1px #FF7D1B;
    background-color: #FF7D1B;
    color: white;
    font-weight: bold;
    letter-spacing: 1.2px;
    cursor: pointer;
    margin: 3px 10px 5px 10px;
}





/* recupear contrasena */
/* hasta aca recuperar contrasena */


/* importar fuentes */
@font-face {
    font-family: "Inter";
    src: url(/static/assets/fonts/Poppins-Black.ttf), format("truetype");
}

/* animation */
@keyframes arrow_move{
    to{
        transform: translateX(-20px);
    }

}