<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <link rel=" icon" href="assets/imgs/logo.jpg" type="image/x-icon">

    <title>Contactanos</title>
</head>
<body>
    <section class="contact-container">
        
        <div class="presentation-box-contact">
            <figure>
                <img src="{{ url_for('static', filename='assets/imgs/logo.jpg') }}" alt="logo" id="img-logo-contact">
            </figure>
            <h2>Delicias de Cocina</h2>
            
        </div>

        <div class="contact-box">
            <form autocomplete="off" action="https://formspree.io/f/xjkrlqyr" method="post">
                <h3>Contactanos</h3>
                <div>
                    <input type="text" name="name" placeholder="Nombre de usuario" required>
                    <input type="email" name="email" id="correo" placeholder="Ingresa tu correo" required>
                    <textarea name="message" placeholder="Escribe tus sugerencias e inquietudes" rows="1" required></textarea>
                </div>
                <p id="validacion"></p>
                <button>Enviar</button>
            </form>
        </div>
    </section>
    
</body>
</html>