body{
    margin: 0;
    padding: 0;
    background-color: #FF7D1B;
    box-sizing: border-box;
    font-family:"Inter",Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,minmax(450px,3fr));
    height: 100dvh;
    width: 100dvw;
    letter-spacing: 1px;
    animation:aparicion 1.5s linear;
}

.semicirculo{
    width: 650px;
    background-image: linear-gradient(45deg,#BF3111 35%,#bf6211 55%,#d17a10 70%,#efb813 100%);
    border-radius: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-40%);
    
}

.login_box{
    width: 450px;
    height: 380px;
    background-color: whitesmoke;
    border-radius: 15px;
    border: solid whitesmoke;
    text-align: center;
    justify-content: center;
}

.login_box h2{
    color:#FF7D1B;
    margin-top: 25px;
    font-size: 35px;

}

.semicirculo img{
    width: 150px;
    height: 140px;
    border-radius: 45%;
    margin:0 0 0 250px;
}
.semicirculo h1{
    color: white;
    margin:10px 0 0 260px;
    text-transform: uppercase;
    font-size: 18px;
}

.login{
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px 0 0;
    transition: all ease .2s;
}

.input_area,.input_password{
    position: relative;
    height:50px;
    line-height: 45px;
    margin: 30px 0 0px 0;
    padding: 8px;
}
.input_password{
    margin:20px 0 0 0;
}
.entry,.entry_pass{
    position: absolute;
    width: 85%;
    line-height: 45px;
    outline: none;
    border-radius: 35px;
    border: solid #DDDDDD;
    right: 27px;
    background-color: #DDDDDD;
    text-indent: 52px;
    transition: al ease .2s;
    /* box-shadow: 0 0 6px darkslategray; */
}
.entry:focus::placeholder,.entry_pass:focus::placeholder{
    opacity: 0;
}
.entry::placeholder,.entry_pass::placeholder{
    font-weight: bold;
}

.labelline,.labelline_pass{
    position: absolute;
    z-index: 1111;
    font-size: 13;
    font-weight: bold;
    padding: 0.5;
    margin: 0 48px;
}
.icon_user,.icon_lock{
    width: 25px;
    height: 25px;
    margin: 10px 0;    
}
article{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
    
}
article a{
    width: fit-content;
    height: fit-content;
    margin-right: 55px;
    font-size: 10px;
    color: rgba(47, 79, 79, 0.697);
    text-decoration: none;
    transition: .3s;
}
article a:active{
    color: #FF7D1B;
    transition: all ease .4s;
}
.link_registro{
    letter-spacing: 1.5px;
    color: #d17a10;
    text-decoration: none;
}
.link_registro:active{
    color: #FF7D1B;
    transition: .4s;

}

button{
    margin: 20px 0 6px 0 ;
    padding: 8px;
    width: 60%;
    border-radius: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: #FF7D1B;
    cursor: pointer;
    color: whitesmoke;
    transition: al ease .2s;
    border: solid #FF7D1B;
}
button:hover{
    color:#FF7D1B;
    background-color: #222222;
    outline: #222222;
    transition: all ease .4s;
    text-shadow: 0 0 5px #FF7D1B;
    border: solid #222222;
}
button:active{
    scale: 0.8;
    transition: .4s;

}

@media(width < 400px){
    .semicirculo{
        width: 560px;
        background-image: linear-gradient(0deg, transparent);
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
    }
    .semicirculo img{
        width: 60px;
        height: 50px;
        margin:0 0 0 240px;
        border-radius: 50%;
    }
    .semicirculo h1{
        margin:20px 30px 20px 0;
        font-size: 20px;
    }

    .login_box{
        width: 350px;
        margin-right:0px;
    }
    .login_box h2{
        font-size: 30px;
    }
    .entry,.entry_pass{
        right: 35px;
        text-indent: 50px;
        width: 75%;
        margin: 20px 0 10 0;
    }
    .icon_user,.icon_lock{
        margin-left:5px;
    }
    article a{
        font-size: 9px;
        letter-spacing: 1px;
    }
    .link_registro{
        font-size: 12px;
    }
    button{
        width: 55%;
        margin: 30px 0 10px 0;
    }

    .container{
        grid-template-columns: 1fr;
        
    }

}

@font-face {
    font-family: "Inter";
    src: url(http://127.0.0.1:5500/views/assets/fonts/Poppins-Black.ttf), format("truetype");
}

@keyframes aparicion{
    from{
            transform: translateY(-100%);
            opacity: 0;
    }
    to{
            transform: translateY(0%);
            opacity: 1;
    
    }
}

